<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matomato Club">
    <meta name="author" content="Mistim">

    <title>Matomato Club</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="blue-grey-text text-darken-4">
    <div class="promo-bg"></div>

    <%= render("_navbar.html", assigns) %>
    <%= render("_slider.html", assigns) %>

    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div> <!-- /container -->

    <%= render("_social.html", assigns) %>
    <%= render("_footer.html", assigns) %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
